* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    background: #f5f5f5;
}


.sidebar {
    width: 230px;
    background: #0A2A43;
    height: 100vh;
    padding: 20px;
    color: white;
    position: fixed;
}

.sidebar h2 {
    font-size: 24px;
    margin-bottom: 30px;
}

.sidebar ul li {
    list-style: none;
    padding: 12px 10px;
    margin: 8px 0;
    background: #0F3657;
    cursor: pointer;
    border-radius: 8px;
}

.sidebar ul li.active,
.sidebar ul li:hover {
    background: #1A73E8;
}

.main-content {
    margin-left: 270px;
    padding: 20px;
    width: calc(100% - 250px);
}

.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topbar h2 {
    font-size: 24px;
}

.profile img {
    border-radius: 50%;
}

/* Cards */
.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin: 25px 0;
}

.card {
    background: white;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}

.card h3 {
    color: gray;
    margin-bottom: 10px;
}

.card p {
    font-size: 28px;
    font-weight: bold;
}

/* Table */
.employee-table {
    width: 100%;
    background: white;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}

.employee-table th, td {
    padding: 12px;
    text-align: left;
}

.employee-table th {
    background: #1A73E8;
    color: white;
}

.employee-table tr:nth-child(even) {
    background: #f2f2f2;
}

.section-title {
    margin-top: 20px;
    margin-bottom: 10px;
}
