body {
background: #eaeaea;
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
font-family: Arial;
}


.form-box {
background: white;
padding: 30px;
width: 300px;
border-radius: 10px;
box-shadow: 0 0 10px rgba(0,0,0,0.2);
text-align: center;
}


input {
width: 90%;
padding: 10px;
margin: 10px 0;
border-radius: 5px;
border: 1px solid gray;
}


button {
width: 100%;
padding: 10px;
background: #28a745;
color: white;
border: none;
border-radius: 5px;
cursor: pointer;
}


button:hover {
background: #1f7a34;
}